/* Common styles */

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFF;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Page header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation {
    display: flex;
    column-gap: 76px;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-second-word {
    color: #2E2F42;
   
}

.menu {
    display: flex;
    gap: 40px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.menu-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}
.studio {
    color: #404bbf;
    position: relative;
}

.studio::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #404bbf;
}

.page-contacts {
    font-style: normal;
}

.contacts-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts-link:active {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    column-gap: 40px;
}

.contacts-item:last-child {
    margin-right: 0px;
}

/* Main */

.main-section {
    background: #2E2F42;
    padding: 188px 0;
    display: flex;
    background-repeat: no-repeat;background-position: center;
    background-size: cover;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/main/people-office.jpg);,
    url();
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    background-color: #4D5AE5;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    cursor: pointer;
    margin: auto;
    min-width: 169px;
    height:56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    };


.button:hover,
.button:focus {
    background: #404BBF;
}

/* Section Features */

.features-section {
    padding: 120px 0;
}

.features-item {
    width: calc((100% - 72px) / 4);
}
.features-item:last-child {
    margin-right: 0;
}

.features-list {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding-left: 0;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}

/* Section Team */

.team-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-item {
    background: #fff;
    width: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-logo-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-logo-box:hover,
.team-logo-box:focus {
    background-color: #404BBF;
}

.name-container {
    padding: 32px 0 32px;
}
.name-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.social-box-team {
    display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-box-team:hover,
.social-box-team:focus {
    background-color: #404bbf;
}

.icon-team {
    fill: #f4f4fd;
}

.profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


/* Portfolio */

.portfolio-section {
padding: 120px 0 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
    
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}


.overlay-box {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
    background-color: #4D5AE5;

}
.overlay {
    position: absolute;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);

}
.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-title {
    border-top: none;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Footer */


.footer-section {
background: #2E2F42;
padding: 100px 0;
}
.footer-section-box {
display: flex;
align-items: baseline;
}

.footer-left {
    margin-right: 120px;
}
.footer-right {
    display: block;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-footer {
    color: #4D5AE5;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.logo-studio-footer {
    color: #f4f4fd;
}

.footer-title {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2,1);
}
.footer-logo-box:hover,
.footer-logo-box:focus {
    background-color: #31d0aa;
}